body {
    margin: 0;
    font-family: Arial, sans-serif;
}
/* Header of the Website  */
header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #008080;
    padding: 20px;
}

.logo1 img {
    width:120px;
    height: 120px;
    padding-left: 120px;
    
}
header h1{
    font-size: 20px;
    color: white;
    text-align:center;
}
.logo2 img {
    width:120px;
    height: 120px;
    padding-right: 120px;
}
/* Border of the Website */
.box {
        display: flex;
        justify-content: space-between;
        background-color: #f4a261;
        text-align: center;
        font-size: 20px;
        font-family: Arial, sans-serif;
        color:black;
        padding: 10px;
        }

/* Navigation of hte Website */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
}
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    display:flex;
}

.nav-links a:hover {
    color: #f4a261;
}